*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: $ff;
    font-size: $fz;
    color: $fc;
    background: $body-color;
}

.container {
    max-width: $container-width;
    margin: 0 auto;
    height: 100%;
    padding: 0 $container-pading;
}

/*------------ General ------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    color: $dark;
}
p {
    margin: 0;
    padding: 0;
}
