/* -------- Font setting --------*/
$ff: "Rubik", sans-serif;
$fz: 16px;
$fc: #4F5665;

/* -------- Interface setting --------*/
$container-width: 1200px;
$container-pading: 15px;
$body-color: #ffffff;

/* -------- Color's --------*/
$white: #ffffff;
$black: #000000;
$dark: #0B132A;
$red: #F53838;
$gray: #4F5665;