.interactive-map {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    &__link {
        circle {
            transition: all .3s ease-in-out;
        }
        &:hover {
            circle {
                fill: $red;
                &:last-child {
                    fill: $white;
                }
            }
        }
    }
}