extends ../layouts/home.pug

block vars
  - var pageTitle = 'Home page'

block content
  .container
    h1 Home page
    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem, consequatur error? Dolor animi iusto molestias autem nam commodi fugiat repellat.
