footer.footer
  .container 
    .footer__inner 
      .footer__col 
        a.logo.footer__logo(href="index.html") 
          svg(width="35px" height="36.23px") 
            use(href="#logo-icon")
          |Lasles<b>VPN</b>
        p.footer__subtitle.section__subtitle <b>LaslesVPN</b> is a private virtual network that has unique features and has high security.
        .footer__socials 
          a.footer__facebook(href="https://www.facebook.com/") 
            svg 
              use(href="#facebook-icon")
          a.footer__twitter(href="https://www.twitter.com/") 
            svg 
              use(href="#twitter-icon")
          a.footer__instagram(href="https://www.instagram.com/") 
            svg 
              use(href="#instagram-icon")
        p.footer__copyright ©2020LaslesVPN
      .footer__col.footer__col_row 
        ul.footer__list 
          h4.footer__list-title Product
          li.footer__item 
            a.footer__link(href="#") Download
          li.footer__item 
            a.footer__link(href="#") Pricing
          li.footer__item 
            a.footer__link(href="#") Locations
          li.footer__item 
            a.footer__link(href="#") Server
          li.footer__item 
            a.footer__link(href="#") Countries
          li.footer__item 
            a.footer__link(href="#") Blog
        ul.footer__list 
          h4.footer__list-title Engage
          li.footer__item 
            a.footer__link(href="#") LaslesVPN ?
          li.footer__item 
            a.footer__link(href="#") FAQ
          li.footer__item 
            a.footer__link(href="#") Tutorials
          li.footer__item 
            a.footer__link(href="#") About Us
          li.footer__item 
            a.footer__link(href="#") Privacy Policy
          li.footer__item 
            a.footer__link(href="#") Terms of Service
        ul.footer__list 
          h4.footer__list-title Earn Money
          li.footer__item 
            a.footer__link(href="#") Affiliate
          li.footer__item 
            a.footer__link(href="#") Become Partner